footer
	span.copyright.minor_text © 2014 Keepsake. All rights reserved. Theme by elemis.
	.socials
		ul.socials__list
			li.socials__list-item
				a(href="").socials__list-link.socials__list-link--rss
					+icon('rss')
			li.socials__list-item
				a(href="").socials__list-link.socials__list-link--fb
					+icon('fb')
			li.socials__list-item
				a(href="").socials__list-link.socials__list-link--twitter
					+icon('twitter')
			li.socials__list-item
				a(href="").socials__list-link.socials__list-link--pinterest
					+icon('pinterest')
			li.socials__list-item
				a(href="").socials__list-link.socials__list-link--vk
					+icon('vk')
