.intro
	span.intro__text-main We’re Keepsake, a digital & branding agency
	p.minor_text Specializing in web design, poster, motion video, based in London. We love to turn ideas into beautiful things.
