.journal
	.journal__text
		span.main_text from the journal
			span.text--red  --
		p.minor_text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
	ul.journal__items
		li.journal__items-item
			a(href="")
				img(src="static/img/content/image_10.png" alt="journal page 1").journal__items-item-img
			.journal__items-item-text
				span.journal__items-item-text-info Oct 13, 2014  /  覺dentity
				a(href="")
					span.main_text Sollicitudin Tortor Inceptos
				p.minor_text Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh.

		li.journal__items-item
			a(href="")
				img(src="static/img/content/image_11.png" alt="journal page 2").journal__items-item-img
			.journal__items-item-text
				span.journal__items-item-text-info Oct 13, 2014  /  覺dentity
				a(href="")
					span.main_text Sollicitudin Tortor Inceptos
				p.minor_text Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh.

		li.journal__items-item
			a(href="")
				img(src="static/img/content/image_12.png" alt="journal page 3").journal__items-item-img
			.journal__items-item-text
				span.journal__items-item-text-info Oct 13, 2014  /  覺dentity
				a(href="")
					span.main_text Sollicitudin Tortor Inceptos
				p.minor_text Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh.

		li.journal__items-item
			a(href="")
				img(src="static/img/content/image_13.png" alt="journal page 4").journal__items-item-img
			.journal__items-item-text
				span.journal__items-item-text-info Oct 13, 2014  /  覺dentity
				a(href="")
					span.main_text Sollicitudin Tortor Inceptos
				p.minor_text Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh.

