menu.menu
	ul.menu__items
		li.menu__items-item
			a(href="").menu__items-item-ilnk Contacts
		li.menu__items-item
			a(href="").menu__items-item-ilnk Journal
		li.menu__items-item
			a(href="").menu__items-item-ilnk Our works
		li.menu__items-item
			a(href="").menu__items-item-ilnk About us
		li.menu__items-item
			a(href="").menu__items-item-ilnk Home


	a(href="").menu__items-share.color_hover--red
			+icon('like')