.portfolio
	.portfolio__top
		span.main_text Our Awesome Works
			span.text--red  --
		button.portfolio__top-filter.color_hover--red Filter Portfolio
	ul.portfolio__items
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_1.png" alt="Работа для портфолио")
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_2.png" alt="Работа для портфолио")
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_3.png" alt="Работа для портфолио")
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_4.png" alt="Работа для портфолио")
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_5.png" alt="Работа для портфолио")
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_6.png" alt="Работа для портфолио")
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_7.png" alt="Работа для портфолио")
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_8.png" alt="Работа для портфолио")
		li.portfolio__items-item
			a(href="")
				img(src="static/img/content/image_9.png" alt="Работа для портфолио")
