.services
	.services__text
		span.main_text what do we do
			span.text--red  --
		p.minor_text Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
	.services__blocks
		.services__blocks-block
			.services__blocks-block-img
				img(src="static/img/general/web-design.png" alt="service 1")
			.services__blocks-block-desc
				span.services__text.main_text Web Design
				p.minor_text Donec elit non mi porta gravida eureget metus. Aenean eu leo quam. Pellentesque ornare sem por quam venenatis vestibulum.

		.services__blocks-block
			.services__blocks-block-img
				img(src="static/img/general/tv.png" alt="service 2")
			.services__blocks-block-desc
				span.main_text Motion Video
				p.minor_text Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur.

		.services__blocks-block
			.services__blocks-block-img
				img(src="static/img/general/print.png" alt="service 3")
			.services__blocks-block-desc
				span.main_text Print Design
				p.minor_text Maecenas sed diam eget risus varius blandit amet non magna. Nullam id dolor id nibh ultricies vehiculaelit praesent commodo.

		.services__blocks-block
			.services__blocks-block-img
				img(src="static/img/general/love.png" alt="service 4")
			.services__blocks-block-desc
				span.main_text Illustration
				p.minor_text Cum sociis natoque penatibus et  dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac at.