// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

//_____________________________

//Logo
@import "logo/logo.styl"

//Portfolio
@import "portfolio/portfolio.styl"

//Intro
@import "intro/intro.styl"

//Connect
@import "connect/connect.styl"

//Services
@import "services/services.styl"

//Journal
@import "journal/journal.styl"

//Socials
@import "socials/socials.styl"