extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ../modules/portfolio
	include ../modules/connect
	include ../modules/services
	include ../modules/journal