.connect
  margin-top 65px
  display flex
  flex-direction column
  align-items center
  text-transform uppercase

  &__inform
    font-size 28px
    font-family BebasNeueBook

  &__link
    margin-top 24px
    color style_white
    font-size 15px
    background-color style_red
    width 114px
    height 40px
    display flex
    align-items center
    justify-content center

    &-text
      color style_white
      font-family BebasNeueBold

      &:before
        content "✉ "