.journal
  margin-top 100px
  display flex
  flex-direction column

  &__items
    display flex
    flex-direction column
    flex-flow row wrap

    &-item
      width 570px
      height 182px
      overflow hidden
      display flex
      flex-direction row
      margin-top 50px

      &-img
        background-color grey
        width 182px
        height 182px

      &-text
        margin-left 25px
        display flex
        flex-direction column

        &-info
          font-size 17px
          color style_dark-gray
          text-transform uppercase

        .main_text
          margin-top 20px