@font-face
  font-family BebasNeueReg
  src url(../fonts/bebas_neue/BebasNeue_Regular.ttf)

@font-face
  font-family BebasNeueBold
  src url(../fonts/bebas_neue/BebasNeue_Bold.ttf)

@font-face
  font-family BebasNeueBook
  src url(../fonts/bebas_neue/BebasNeue_Book.ttf)