// ЦВЕТА
style_red = #ef5f60
style_gray = #f1f4f5
style_white = #ffffff
style_dark-gray = #c3c3c3
style_main_text-grey = #4d4d4d
style_minor_text-grey = #808080
style_footer-gray = #2d2d30


// РАЗМЕРЫ
baseFontSize = 16px
contentSize = 1180px

// ШРИФТЫ