.socials
  &__list
    align-items center
    display flex
    justify-content center

    &-item
      margin 0 5px

    &-link
      align-items center
      background-color style_red
      border-radius 50%
      display flex
      justify-content center
      size(32px)

      &--rss
        background-color: #fbaa56

       &--fb
        background-color: #667eb7

       &--twitter
        background-color: #6cc1eb

       &--pinterest
        background-color: #da535b

       &--vk
        background-color: #4c75a3



      .icon
        fill style_white
        size(12px)

