.intro
  height 205px
  background-color style_gray
  display flex
  flex-direction column
  padding-left 85px

  &__text-main
    text-transform uppercase
    margin-top 40px
    font-size 30px
    font-family BebasNeueBook