footer
  flex 0 0 auto
  flex-direction column
  margin-top 150px
  background-color style_footer-gray

  .copyright
    justify-content center
    display flex
    margin-top 68px
    color style_minor_text-grey

  .socials
    margin-top  28px
    margin-bottom 68px